.btn {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0  10px rgba(228, 10, 10, 0.8),
                0 0  20px rgba(228, 16, 16, 0.5),
                0 0  30px rgba(196, 11, 11, 0.3);
}
    
.btn:hover {
    box-shadow: 0 0 15px rgba(173, 5, 5, 0.8),
                0 0 25px rgba(189, 9, 9, 0.5),
                0 0 35px rgba(170, 15, 15, 0.3);
    transform: scale(1.1);
}