body {
    font-family: 'Arial', sans-serif;
    background-color: #D3D3D3; /* Fondo LightGray */
    color: #333333; /* Texto negro */
    margin: 0;
    padding: 0;
}

.no-underline {
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    align-items: center;
}

.navbar-menu li {
    position: relative;
}

.navbar-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar-menu a:hover {
    color: #D3D3D3;
}